{% load static %}
{% load webp %}
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Образовательный центр ГБОУ "Вершина"</title>
    <link rel="icon" href="{% static '/img/0001.gif' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/nice-select/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
		{% block mainmenu %}
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="{% url 'index' %}"><img style="width:70px; height:70px;" src="{% static '/img/0001.gif' %}" alt="логотип компании"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
			<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
				<ul class="nav navbar-nav menu_nav ml-auto mr-auto">
					<li class="nav-item submenu dropdown"><a class="nav-link" href="{% url 'index' %}">О центре</a>
						<ul class="dropdown-menu">
							<li class="nav-item"><a class="nav-link" href="category.html">Сведения об организации</a></li>
							<li class="nav-item"><a class="nav-link" href="single-product.html">Общая информация</a></li>
							<li class="nav-item"><a class="nav-link" href="checkout.html">Документы</a></li>
							<li class="nav-item"><a class="nav-link" href="confirmation.html">Новости</a></li>
							<li class="nav-item"><a class="nav-link" href="cart.html">Контакты</a></li>
							<li class="nav-item"><a class="nav-link" href="cart.html">Конфиденциальность</a></li>
						</ul>
					</li>
					<li class="nav-item submenu dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						   aria-expanded="false">Как попасть</a>
						<ul class="dropdown-menu">
							<li class="nav-item"><a class="nav-link" href="category.html">Критерии отбора</a></li>
							<li class="nav-item"><a class="nav-link" href="single-product.html">Правила пребывания</a></li>
							<li class="nav-item"><a class="nav-link" href="checkout.html">Условия размещения</a></li>
							<li class="nav-item"><a class="nav-link" href="confirmation.html">Памятка для родителей</a></li>
							<li class="nav-item"><a class="nav-link" href="cart.html">Необходимые документы</a></li>
							<li class="nav-item"><a class="nav-link" href="confirmation.html">Часто задаваемые вопросы</a></li>
							<li class="nav-item"><a class="nav-link" href="cart.html">Лекториум</a></li>
						</ul>
					</li>
					<li class="nav-item submenu dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						   aria-expanded="false">Мероприятия</a>
						<ul class="dropdown-menu">
							<li class="nav-item"><a class="nav-link" href="blog.html">Большие вызовы</a></li>
							<li class="nav-item"><a class="nav-link" href="single-blog.html">Сириус Лето</a></li>
						</ul>
					</li>
					<li class="nav-item submenu dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
						   aria-expanded="false">Программы</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="contact.html">ВсОШ</a></li>
				</ul>
				<ul class="nav-shop">
					<li class="nav-item">
						{% if request.user.is_authenticated %}
						<button>
							<a href="{% url 'account_logout' %}">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
									<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
								</svg>
							</a>
							<span> {{ user.username }}</span>
						</button>
						{% else %}
						<button>
							<a href="{% url 'account_login' %}">
								<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
									<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
								</svg>
							</a>
						</button>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	  </nav>
	</div>
  </header>
	<!--================ End Header Menu Area =================-->
  <main class="site-main">

      {% block content %}

      {% endblock %}

  </main>
 <!--================ Start footer Area  =================-->
	<footer class="footer">
		<div class="footer-area">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no
								divided deep moved us lan Gathering thing us land years living.
							</p>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Product</a></li>
								<li><a href="#">Brand</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Gallery</h4>
							<ul class="list instafeed d-flex flex-wrap">
								<li><img src="{% static 'img/gallery/r1.jpg' %}" alt=""></li>
								<li><img src="{% static 'img/gallery/r2.jpg' %}"  alt=""></li>
								<li><img src="{% static 'img/gallery/r3.jpg' %}" alt=""></li>
								<li><img src="{% static 'img/gallery/r5.jpg' %}" alt=""></li>
								<li><img src="{% static 'img/gallery/r7.jpg' %}" alt=""></li>
								<li><img src="{% static 'img/gallery/r8.jpg' %}" alt=""></li>
							</ul>
						</div>
					</div>
					{% endblock mainmenu %}
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p>123, Main Street, Your City</p>

								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									+123 456 7890 <br>
									+123 456 7890
								</p>

								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									free@infoexample.com <br>
									www.infoexample.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->



  <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendors/skrollr.min.js' %}"></script>
  <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendors/nice-select/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'vendors/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'vendors/mail-script.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>