{% extends "school/base.html" %}
{% load static %}
{% load i18n allauth account %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}
{% block content %}

<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Сброс пароля</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Домой</a></li>
              <li class="breadcrumb-item active" aria-current="page">Сброс пароля</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>У вас уже есть аккаунт?</h4>
							<p>Открой дверь в мир своих возможностей и знаний!</p>
							<a class="button button-account" href="{% url 'account_login' %}">Войти сейчас</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3 style="margin-bottom: 35px">Сброс пароля</h3>
                        <form class="row email_form" action="#" method="post" style="max-width:385px; margin:auto" novalidate="novalidate">
                            <div class="col-md-12 form-group p_star">
                                <div class="creat_account">
                                    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам электронное письмо, позволяющее сбросить его</p>
                                </div>
                            </div>
                            {% url 'account_reset_password' as reset_url %}
                            {% element form form=form method="post" action=reset_url %}
                            {% slot body %}
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" autocomplete="email" name="email"
                                       value="" placeholder="Email" required="">
                            </div>
                            {% endslot %}
                            {% slot actions %}
                            <div class="col-md-12 form-group p_star">
                                <button type="submit" class="button button-register w-100">
                                    {% trans 'Reset My Password' %}
                                </button>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <div class="creat_account">
                                    <p>Пожалуйста, свяжитесь с нами, если у вас возникли проблемы со сбросом пароля</p>
                                </div>
                            </div>
                            {% endslot %}
                            {% endelement %}

                        </form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock content %}
