{% extends "school/base.html" %}
{% load allauth i18n %}
{% block title %}
    {% trans "Signup" %}
{% endblock title %}
{% block content %}

<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Регистрация</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'index' %}">Домой</a></li>
              <li class="breadcrumb-item active" aria-current="page">Регистрация</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->

  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>У вас уже есть аккаунт?</h4>
							<p>Открой дверь в мир своих возможностей и знаний!</p>
							<a class="button button-account" href="{% url 'account_login' %}">Войти сейчас</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3 style="margin-bottom: 35px">Завести аккаунт</h3>
                        <form class="row login_form" action="#" method="post" novalidate="novalidate">
    						{% url 'account_signup' as action_url %}
    						{% element form form=form method="post" action=action_url tags="entrance,signup" %}
        					{% slot body %}
            				{% csrf_token %}
							<div class="col-md-12 form-group">
                            	<input type="text" class="form-control" id="username" autocomplete="username" name="username" value=""
                                    placeholder="Имя пользователя" required="">
                            </div>
                            <div class="col-md-12 form-group">
                            	<input type="email" class="form-control" id="email" autocomplete="email" name="email" value=""
                                    placeholder="Email" required="">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password1" autocomplete="current-password" name="password1"
                                    value="" placeholder="Пароль" required="">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password2" autocomplete="current-password" name="password2"
                                    value="" placeholder="Пароль еще раз" required="">
                            </div>
            				{% if redirect_field_value %}
                				<input type="hidden"
                    				name="{{ redirect_field_name }}"
                    				value="{{ redirect_field_value }}" />
            				{% endif %}
            				<div class="col-md-12 form-group p_star">
								<div class="creat_account">
                					<input type="checkbox" id="f-option4" name="selector" />
                					<label for="f-option4"><a href="#">Конфиденциальность</a></label>

            					</div>
    						</div>
        					{% endslot %}
        					{% slot actions %}
        					<div class="col-md-12 form-group p_star">
                                <button type="submit" class="button button-register w-100">
                					Зарегистрироваться
                				</button>
							</div>
        					{% endslot %}
    						{% endelement %}
                            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                        </form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock content %}
